__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.idea
.vscode
node_modules/
dist/
build/
*.egg-info/
.DS_Store

**/node_modules
**/dist
**/build
.git
.idea
__pycache__
**/*.pyc
.env
**/.env
venv
env
backend/venv
backend/env
coverage
.pytest_cache
